@inject IViewLocalizer Localizer
@model BaggageStorage.Models.UserViewModels.UserViewModel

@(Html.DevExtreme().Popup()
                            .ID("popup-profile")
                            .ElementAttr("class", "popup")
                            .Width(350)
                            .Height("auto")
                            .ShowTitle(true)
                            .Title(Localizer["Редактирование профиля"].Value)
                            .Visible(false)
                            .DragEnabled(true)
                            .ResizeEnabled(true)
                            .Shading(true)
                            .OnShown("userProfilePopupShown")
                            .CloseOnOutsideClick(true)
                            .ContentTemplate(@<text>
                                @using (Html.BeginForm("UserSave", "User", FormMethod.Post, new { id = "formProfile" }))
                                            {
                                    @(Html.DevExtreme().Form()
                                                                .ColCount(1)
                                                                .ValidationGroup("userProfileValidationGroup")
                                                                .Items(items =>
                                                                {
                                                                        items.AddSimple().DataField("FirstName").IsRequired(true).Label(l => l.Text(Localizer["Имя"].Value));
                                                                        items.AddSimple().DataField("LastName").IsRequired(true).Label(l => l.Text(Localizer["Фамилия"].Value));
                                                                        items.AddSimple().DataField("Email").IsRequired(true).Label(l => l.Text(Localizer["Email"].Value));
                                                                        items.AddSimple().DataField("UserName").IsRequired(true).Label(l => l.Text(Localizer["Логин"].Value));
                                                                        items.AddSimple().DataField("Password").IsRequired(false).Editor(e => e.TextBox().Mode(TextBoxMode.Password)).Label(l => l.Text(Localizer["Пароль"].Value));
                                                                        items.AddSimple().DataField("ConfirmPassword").IsRequired(false).Editor(e => e.TextBox().Mode(TextBoxMode.Password)).Label(l => l.Text(Localizer["Повторите пароль"].Value));
                                                                    })
                                                                .FormData(Model)
                                    )
                                    <div id="saveButton" class="button-div" style="text-align:right; margin-top:30px">
                                        @(Html.DevExtreme().Button()
                                                            .Text(Localizer["СОХРАНИТЬ"].Value)
                                                            .Width("100%")
                                                            .ValidationGroup("userProfileValidationGroup")
                                                            .UseSubmitBehavior(true)
                                                            .ElementAttr("class", "bt-bg-primary")
                                        )
                                    </div>

                                    <input type="hidden" id="ignoreRole" name="IgnoreRole" value="true" />
                                    <input type="hidden" id="userId" name="Id" value="@Model.Id">
                                    <input type="hidden" id="customerId" name="CustomerId" value="@Model.CustomerId">
                                            }
                                /**/

                            </text>)
)
