@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@using  BaggageStorage.Models.ViewModels.AccountViewModels


@{
    Layout = "_LayoutLogin";
    var data = new LoginViewModel();
}

<div id="card-with-string">
    <div class="card login bg1">
        <h4 class="card-header white-text">@Localizer["Login to the system"].Value</h4>
        <div class="card-body bordered-blue">
            @using (Html.BeginForm())
            {
                using (Html.DevExtreme().ValidationGroup())
                {

                    @Html.AntiForgeryToken()

                    @(Html.DevExtreme().Form<LoginViewModel>()
                                    .ID("loginForm")
                                    .ShowColonAfterLabel(false)
                                    .ShowRequiredMark(false)
                                    .ShowValidationSummary(false)
                                    .Items(g =>
                                    {
                                        g.AddSimpleFor(m => m.Login).Editor(s => s.TextBox().InputAttr("autocomplete", "on"))
                                            .Label(l => l.Text(Localizer["Login"].Value))
                                            .ValidationRules(rule => rule.AddCustom().ValidationCallback("isEmpty").Message(""));
                                        g.AddSimpleFor(m => m.Password)
                                            .Label(l => l.Text(Localizer["Password"].Value))
                                            .ValidationRules(rule => rule.AddCustom().ValidationCallback("isEmpty").Message(""))
                                            .Editor(e => e.TextBox().Mode(TextBoxMode.Password));
                                    })
                                    .FormData(data)
                    )
                    <br />
                    <div class="row" style="padding:0px;margin:0px;padding-bottom:10px;">
                        <div class="col-lg-6 col-md-6 col-xl-6 col-sm-6 no-padding">
                            @(Html.DevExtreme().CheckBox()
                                                    .Name("RememberMe")
                                                    .Text(Localizer["Remember"].Value)
                                                    .Value(false)
                            )
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 col-sm-6 no-padding">
                            <div id="login-container" class="button-div">
                                @(Html.DevExtreme().Button()
                                                    .ID("btLogin")
                                                    .Type(ButtonType.Normal)
                                                    .Text(Localizer["SignIn"].Value)
                                                    .Width("100%")
                                                    .Type(ButtonType.Success)
                                                    .UseSubmitBehavior(true)
                                )
                            </div>
                        </div>
                    </div>


                }
            }
        </div>
    </div>

    <div class="card bg1" style="width:350px; max-width:100%; height:auto; margin:0 auto; display:block;">
        <div class="card-body" style="padding:20px;">
            <div id="loginFooterContainer" style="margin-top:5px;">
                <div style="font-size:14px; display:inline-block; padding-top:5px;">Powered by <a href="https://cvilia.com/" target="_blank">Ilia</a></div>
                <div style="display:inline-block;float:right; width:65px;">@await Html.PartialAsync("_SelectLanguagePartial")</div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $("[name='Login']").focus();
            $("[name='Login']").select();
        });

        function isEmpty(e) {
            if (!e.value)
                return false;

            return (e.value != "");
        }

        $(".login form").on("submit", function (e) {

            var data = $(this).serialize();

            $("#login-container").prepend("<span class=\"button-lock\"></span>");

            var btnText = $("#login-container .dx-button-text").text();
            $("#login-container .dx-button-text").html("&nbsp;");

            $.ajax({
                url: "/account/login",
                type: "post",
                data: data
            })
                .fail(function (obj, error, status) {
                    toastr["error"]("Ошибка в результате выполнения запроса.<br/> HTTP Статус: " + obj.status, { "timeOut": "5000" });
                    console.log(obj, error, status);
                })
                .done(function (json) {

                    if (json.error == "") {
                        var redirect = (getParameterByName("ReturnUrl") == null) ? "/" : getParameterByName("ReturnUrl");
                        location.href = redirect;
                    } else {
                        toastr["error"](json.error, { "timeOut": "5000" });
                        $("[name=username]").focus().select();
                    }
                })

                .always(function () {

                    $("#login-container").children()[0].remove();
                    $("#login-container .dx-button-text").text(btnText);
                });

            e.preventDefault();
        });

    </script>
}
